# Data Tranformation

In [1]:
# Dependencies
import pandas as pd 
import os 
import numpy as np

In [2]:
filepath = f"CA_chemengjobs.csv"
df = pd.read_csv(filepath, index_col=0)
df.head()

,Job Title Index,Job ID,Job Title,Company Name,Company Location,Link
0,1,p_8cbde469b526f937,Municipal Designer,"Gannett Fleming, Inc.","Toronto, ON",https://ca.indeed.com/jobs?q=Process+EIT&l=can...
1,1,p_476ef0c6c3f20408,Mechanical Engineering Graduate,AECOM,"Winnipeg, MB",https://ca.indeed.com/jobs?q=Process+EIT&l=can...
2,1,p_ec1badbed12494f1,Applications Engineer,Technel Engineering Inc.,"Woodbridge, ON",https://ca.indeed.com/jobs?q=Process+EIT&l=can...
3,1,p_6c9bf8399ff4fed6,Structural Engineering Graduate,AECOM,"Winnipeg, MB",https://ca.indeed.com/jobs?q=Process+EIT&l=can...
4,1,pj_3265188d7c2601b5,Metallurgist,Flank Engineering Inc.,"Burlington, ON",https://ca.indeed.com/jobs?q=Process+EIT&l=can...

In [3]:
# Remove the Link column
df = df[["Job Title Index", "Job ID", "Job Title", "Company Name", "Company Location"]]

df.head()

,Job Title Index,Job ID,Job Title,Company Name,Company Location
0,1,p_8cbde469b526f937,Municipal Designer,"Gannett Fleming, Inc.","Toronto, ON"
1,1,p_476ef0c6c3f20408,Mechanical Engineering Graduate,AECOM,"Winnipeg, MB"
2,1,p_ec1badbed12494f1,Applications Engineer,Technel Engineering Inc.,"Woodbridge, ON"
3,1,p_6c9bf8399ff4fed6,Structural Engineering Graduate,AECOM,"Winnipeg, MB"
4,1,pj_3265188d7c2601b5,Metallurgist,Flank Engineering Inc.,"Burlington, ON"

In [5]:
# Check if there is any is null in the dataframe
df.isnull().sum()

Job Title Index     0
Job ID              0
Job Title           0
Company Name        0
Company Location    0
dtype: int64

In [10]:
# Find unique job titles and count
df["Job Title"].value_counts()

Junior Process Engineer                                            8
Project Coordinator                                                7
Junior/intermediate Project and Process Engineers                  7
Software Development Engineer                                      6
Jr. Nuage/Cloud 2LS CS Engineer                                    6
                                                                  ..
Software Architect/Development Architect                           1
Senior Back-End Developer                                          1
Software Development Engineer - Amazon RDS                         1
Senior Data Scientist                                              1
Senior Engineers - Infrastructure and Water & Sewer Engineer...    1
Name: Job Title, Length: 251, dtype: int64

In [17]:
# Group by location and count
df_location = df.groupby(["Company Location"]).count()
df_location = df_location[["Job ID"]].sort_values(["Job ID"], ascending=False)
df_location.head(50)

                     Job ID
Company Location
Toronto, ON              87
Vancouver, BC            61
Ottawa, ON               37
Montréal, QC             34
Calgary, AB              31
Mississauga, ON          16
Regina, SK               13
Markham, ON              10
Burnaby, BC              10
Greater Sudbury, ON       8
Edmonton, AB              7
Oakville, ON              7
Halifax, NS               6
Surrey, BC                6
Guelph, ON                6
Burlington, ON            6
Langley, BC               5
Canada                    5
Saskatoon, SK             5
Winnipeg, MB              5
Kitchener, ON             5
Waterloo, ON              5
Yellowknife, NT           4
Richmond Hill, ON         4
Westbury, QC              4
British Columbia          4
Brampton, ON              4
Richmond, BC              3
Squamish, BC              3
Windsor, ON               3
London, ON                3
Nelson, BC                3
Grande Prairie, AB        3
Fort St. John, BC         3
Peterborough, ON          2
Saint Andrews, NB         2
Thurso, QC                2
Ontario                   2
Vaughan, ON               2
Dartmouth, NS             2
Sydney, NS                2
Fort McMurray, AB         2
St. Marys, ON             2
Chatham-Kent, ON          2
Cambridge, ON             2
Milton, ON                2
Kirkland Lake, ON         2
Sooke, BC                 2
Nisku, AB                 2
Essex, ON                 1

In [28]:
# Filter job titles that has string "Junior" 

df_junior = df[df['Job Title'].str.contains('Junior', na=False, regex=False)]
df_junior

,Job Title Index,Job ID,Job Title,Company Name,Company Location
11,1,p_b975563931a16ce4,Junior Water/Wastewater Engineer,Jacobs,"Toronto, ON"
20,1,p_50c173dda09569e5,Junior/intermediate Project and Process Engineers,Atlas BA Consulting Engineering,"Calgary, AB"
22,1,p_6386f4418f561175,Junior Traffic Engineer (EIT),McElhanney Ltd.,"Surrey, BC"
27,1,p_cb14c70f08d04d42,Junior Acoustics & Vibration Specialist/Engineer,Wood Plc,"Oakville, ON"
38,1,p_6386f4418f561175,Junior Traffic Engineer (EIT),McElhanney Ltd.,"Surrey, BC"
...,...,...,...,...,...
453,11,p_bb32230b8141d238,Junior Process Engineer,Enerkem Inc.,"Montréal, QC"
465,12,p_e591b271e7e17473,Junior R&D Engineer (Temporary 1 year),Enerkem Inc.,"Westbury, QC"
466,12,p_bb32230b8141d238,Junior Process Engineer,Enerkem Inc.,"Montréal, QC"
470,12,p_e591b271e7e17473,Junior R&D Engineer (Temporary 1 year),Enerkem Inc.,"Westbury, QC"
471,12,p_bb32230b8141d238,Junior Process Engineer,Enerkem Inc.,"Montréal, QC"

In [29]:
# Find unique job titles and count
df_junior["Job Title"].value_counts()

Junior Process Engineer                                            8
Junior/intermediate Project and Process Engineers                  7
Junior Acoustics & Vibration Specialist/Engineer                   6
Junior Project Engineer                                            5
Junior Mechanical Designer                                         4
Junior Process/Mechanical Engineer                                 4
Junior Traffic Engineer (EIT)                                      4
Junior R&D Engineer (Temporary 1 year)                             4
Engineer - Process, Junior                                         3
Junior Data Scientist                                              3
Junior Software Engineer                                           3
Junior Process Engineer (Open)                                     3
Junior Water/Wastewater Engineer                                   3
Junior Alternative Fuel Product Engineer                           2
Junior Software Developer                                          2
Junior Urban Assessment and Remediation Professional #18-201...    2
Junior Project Management Engineer                                 2
Junior to Intermediate Systems Engineer -Ottawa or Vancouver       2
#21-2010-AR-GP Junior Assessment and Remediation Professiona...    2
Automation Technician, Junior                                      2
Junior Field Technician / Field Engineer                           1
Driver (Junior Maintenance Mechanic)                               1
Junior Mechanical Engineer                                         1
Junior Civil/Geotechnical or Geological Engineer                   1
Conseiller Quantitatif Junior-(H/F)                                1
Junior Accounts Receivable Cash Specialist - O2E Brands - 12...    1
Hemmera - Junior or Intermediate Environmental Scientist/Eng...    1
Junior Biologist/Scientist                                         1
Junior Electrical Engineer                                         1
Responsable des Ventes (Junior)                                    1
Junior Mine Closure Specialist                                     1
Junior Asset Optimization Consultant, Bilingual - (Montreal)       1
Junior UX Designer                                                 1
Accountant (Junior)                                                1
Junior Java Developer                                              1
Junior Administrative Assistant                                    1
Junior/Intermediate Community Health/Socio-Economic Speciali...    1
GBP - Junior Programmer / Analyst, Client Services & Solutio...    1
Junior Java/ Big Data (Hadoop Ecosystem) Developer - 300484        1
Junior Lead Generator                                              1
Name: Job Title, dtype: int64

In [25]:
# Group by location and count
df_junior_location = df_junior.groupby(["Company Location"]).count()
df_junior_location = df_junior_location[["Job ID"]].sort_values(["Job ID"], ascending=False)
df_junior_location.head(50)

                          Job ID
Company Location
Calgary, AB                   13
Toronto, ON                   13
Montréal, QC                  11
Mississauga, ON                7
Ottawa, ON                     6
Oakville, ON                   6
Guelph, ON                     5
Burnaby, BC                    4
Westbury, QC                   4
Surrey, BC                     4
Vancouver, BC                  2
Burlington, ON                 2
Grande Prairie, AB             2
Dartmouth, NS                  2
Cambridge, ON                  2
Greater Toronto Area, ON       1
Greater Sudbury, ON            1
Saskatoon, SK                  1
Sidney, BC                     1
Essex, ON                      1
Edmonton, AB                   1
Vaudreuil-Dorion, QC           1
Whitehorse, YT                 1

In [32]:
# Filter job titles that has string "Jr" 

df_jr = df[df['Job Title'].str.contains('Jr', na=False, regex=False)]
df_jr

,Job Title Index,Job ID,Job Title,Company Name,Company Location
73,3,pj_5c861f71660bdd90,Jr. Automation Process Engineer,Crystal Claire Cosmetics Inc,"Toronto, ON"
79,3,pj_5c861f71660bdd90,Jr. Automation Process Engineer,Crystal Claire Cosmetics Inc,"Toronto, ON"
89,4,pj_5c861f71660bdd90,Jr. Automation Process Engineer,Crystal Claire Cosmetics Inc,"Toronto, ON"
146,7,pj_5c861f71660bdd90,Jr. Automation Process Engineer,Crystal Claire Cosmetics Inc,"Toronto, ON"
230,8,p_f96c3f6ff3facd01,Jr. Nuage/Cloud 2LS CS Engineer,ION IP Optical Networks,"Ottawa, ON"
237,8,p_f96c3f6ff3facd01,Jr. Nuage/Cloud 2LS CS Engineer,ION IP Optical Networks,"Ottawa, ON"
252,8,p_f96c3f6ff3facd01,Jr. Nuage/Cloud 2LS CS Engineer,ION IP Optical Networks,"Ottawa, ON"
266,8,p_f96c3f6ff3facd01,Jr. Nuage/Cloud 2LS CS Engineer,ION IP Optical Networks,"Ottawa, ON"
282,10,pj_5c861f71660bdd90,Jr. Automation Process Engineer,Crystal Claire Cosmetics Inc,"Toronto, ON"
335,10,pj_630401d8006afe63,Jr. iOS Engineer,autoTRADER.ca,"Montréal, QC"
337,10,p_b625120a16d5d7f6,Jr. Android Engineer,Trader Corporation,"Toronto, ON"
352,10,p_d30dead5b09ed169,Jr Data Integration Engineer,KORE Software,"Vancouver, BC"
422,10,p_f96c3f6ff3facd01,Jr. Nuage/Cloud 2LS CS Engineer,ION IP Optical Networks,"Ottawa, ON"
437,10,p_f96c3f6ff3facd01,Jr. Nuage/Cloud 2LS CS Engineer,ION IP Optical Networks,"Ottawa, ON"

In [34]:
# Find unique job titles and count
df_jr["Job Title"].value_counts()

Jr. Nuage/Cloud 2LS CS Engineer    6
Jr. Automation Process Engineer    5
Jr. Android Engineer               1
Jr. iOS Engineer                   1
Jr Data Integration Engineer       1
Name: Job Title, dtype: int64

In [35]:
# Group by location and count
df_jr_location = df_jr.groupby(["Company Location"]).count()
df_jr_location = df_jr_location[["Job ID"]].sort_values(["Job ID"], ascending=False)
df_jr_location.head(50)

                  Job ID
Company Location
Ottawa, ON             6
Toronto, ON            6
Montréal, QC           1
Vancouver, BC          1

In [39]:
# Filter job titles that has string "EIT" 

df_EIT = df[df['Job Title'].str.contains('EIT', na=False, regex=False)]
df_EIT

,Job Title Index,Job ID,Job Title,Company Name,Company Location
7,1,pj_a1f63b57ca0e6770,Electrical EIT,Core One Consulting Ltd.,"Montréal, QC"
8,1,p_c48406d023594c71,Field Production Engineer (EIT),Canlin Energy Corporation,"Rocky Mountain House, AB"
14,1,p_e1d11f33349edad9,"Designer, EIT - Bridges",WSP,"Regina, SK"
15,1,p_e1976b7691e999b0,Engineer-in-Training (EIT),City of Edmonton,"Edmonton, AB"
22,1,p_6386f4418f561175,Junior Traffic Engineer (EIT),McElhanney Ltd.,"Surrey, BC"
23,1,p_9040853200753110,Geotechnical/Civil EIT,exp,"Greater Sudbury, ON"
38,1,p_6386f4418f561175,Junior Traffic Engineer (EIT),McElhanney Ltd.,"Surrey, BC"
39,1,p_9040853200753110,Geotechnical/Civil EIT,exp,"Greater Sudbury, ON"
64,2,p_e1976b7691e999b0,Engineer-in-Training (EIT),City of Edmonton,"Edmonton, AB"
216,8,p_6386f4418f561175,Junior Traffic Engineer (EIT),McElhanney Ltd.,"Surrey, BC"
353,10,p_6386f4418f561175,Junior Traffic Engineer (EIT),McElhanney Ltd.,"Surrey, BC"
459,11,p_8a1123325ba270e3,Electrical EIT - Vancouver,Ausenco,"Vancouver, BC"

In [40]:
# Find unique job titles and count
df_EIT["Job Title"].value_counts()

Junior Traffic Engineer (EIT)      4
Geotechnical/Civil EIT             2
Engineer-in-Training (EIT)         2
Electrical EIT                     1
Field Production Engineer (EIT)    1
Designer, EIT - Bridges            1
Electrical EIT - Vancouver         1
Name: Job Title, dtype: int64

In [41]:
# Group by location and count
df_EIT_location = df_EIT.groupby(["Company Location"]).count()
df_EIT_location = df_EIT_location[["Job ID"]].sort_values(["Job ID"], ascending=False)
df_EIT_location.head(50)

                          Job ID
Company Location
Surrey, BC                     4
Edmonton, AB                   2
Greater Sudbury, ON            2
Montréal, QC                   1
Regina, SK                     1
Rocky Mountain House, AB       1
Vancouver, BC                  1